<footer>
    <div class="d-flex justify-content-center align-items-center">
        <p>Creado y producido para uso interno en Código Pago para los sectores de OPERACIONES, SISTEMAS y RECLAMOS.
        </p>
    </div>

    <a href="https://api.whatsapp.com/send?phone=541164992046&text=%C2%A1Hola!%20Si%20tenes%20alguna%20consulta%20con%20respecto%20a%20la%20p%C3%A1gina%20por%20favor%20detalla%20la%20misma%20que%20a%20la%20brevedad%20te%20responder%C3%A9.%20%C2%A1Muchas%20gracias!"
        target="_blank"> <img src="../../../assets/img/600px-Whatsapp_logo_svg.png" alt="" class="wpp"></a>
</footer>