header{
    display: block;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #EA6523;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    grid-area: header;
}

header h1 {
    font-size: 1rem;
    color: antiquewhite;
}

header a img {
    height: 2rem;
}


